################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CallApp/.vs/CallApp/FileContentIndex
